* {
    transition: all ease-in-out 1s;
}

:root{
    --secondary-color: #F9C846;
    --borders: #324376;
    --text: #545863;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border-top: 10px solid var(--borders);
    color: var(--text);
}

@keyframes arrow {
    0% {
        transform: translate(0px, 0px);
        animation-timing-function:ease-in-out
    }

    50% {
        transform: translate(0px, -20px );
        animation-timing-function:ease-in-out
    }

    100% {
        transform: translate(0px, 0px);
        animation-timing-function:ease-in-out
    }
}

.link{

    color: var(--text);
}

.container-skills{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
}

.separator{
    display: inline-block;
    align-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px ;
    animation-name: arrow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.wrapper{
    width: 100%;
    aspect-ratio: 100 / 29
}

.about-me, .basic-information, .skills, .books{
    border: 1px dotted var(--borders);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 40px;
}
.about-me-text, .container-skills, .books{
    font-size: 1.3em;
    line-height: 1.7em;
    color: var(--text);
}
.label-text{
    background-color: var(--secondary-color);
    padding: 3px 6px;
    border-radius: 5px;
    display: inline-block;
}
.container{
    max-width: 560px;
    margin: 0 auto;
    padding: 0 10px;
}

.greeting{
    font-size: 2.5em;
    margin-bottom: .5em;
}

.subtitle{
    font-size: 1.5em;
    margin: 10px 0 0 0;
    text-decoration: underline;
}

.header-left{
    margin-bottom: 1em;
}

.header-right{

    margin-bottom: 1em;
    padding: 5px 0px;
    width: auto;
    color: var(--text)
}

.header-right-title{
    font-size: 2.1em;
    text-transform: uppercase;
}

.header-right-title-books{
    font-size: 1.6em;
    text-transform: uppercase;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
}
.basic-information{
    margin-bottom: 30px;
}
.content-label{
    font-size: 1.7em;
    display: block;
    margin-bottom: 5px;
}
.form-info-info{
    font-size: 1.2em;
}
.form-info{
    padding: 5px 0 5px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    align-items: center;
    grid-gap: 10px;
    grid-auto-rows: auto;
    border-bottom: 1px solid var(--secondary-color)
}

.form-info:last-child{
    border: none;
}

@media screen and (min-width: 320px){

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
    }

    .header-title{
        font-size: 3.5em;
        text-align: left;
        font-weight: 400;
        text-transform: uppercase;
    }
    .header-subtitle{
        font-size: 1em;
        text-align: right;
        text-transform: uppercase;
    }

    .container-skills{
        display: grid;
        grid-template-rows: auto;
        align-items: start;
    }


}

@media screen and (min-width: 560px){

}
